= stylesheet_link_tag 'application', media: 'all', |
  'data-turbolinks-track' => true                  |
= javascript_include_tag "controller"
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
= render 'layouts/shim'

%header.navbar.navbar-fixed-top.navbar-inverse
  #container
    = render 'layouts/header'

%stripes
  #container
    = render 'layouts/stripes'

.well
  %h1 Inserir aluno por Excel/CSV

  = form_tag '', multipart: true do
    .form-group
      %label Arquivo (Salvar em CSV)
      = file_field_tag 'file', :accept => "text/csv"

    .radio-horizontal
      %label Sem preferencias
      = radio_button_tag 'prefs', 'false', true, onchange: "changeModel(false)"

    .radio-horizontal
      %label Com preferencias
      = radio_button_tag 'prefs', 'true', false, onchange: "changeModel(true)"

    = submit_tag 'Inserir', class: "btn btn-success"

  .modelo#semprefs
    %p Modelo sem preferencias:
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th Classe
          %th Nome do aluno
          %th Sexo

  .hidden#comprefs
    %p Modelo com preferencias:
    %table.table.table-hover.table-bordered
      %thead
        %tr
          %th Classe
          %th Nome do aluno
          %th Sexo
          %th Primeira preferencia
          %th ...
          %th Enesima preferencia

#content
  = yield
  = render 'layouts/footer'

%img{:alt => "logo", :src => "/cervantes.png", :style => "float:right; width:30%; height:auto;"}