= stylesheet_link_tag 'application', media: 'all', |
  'data-turbolinks-track' => true                  |
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
= render 'layouts/shim'

%header.navbar.navbar-fixed-top.navbar-inverse
  #container
    = render 'layouts/header'

%stripes
  #container
    = render 'layouts/stripes'

%h1 Menu principal 

.list-group
  %a.list-group-item{:href => 'alunos'} Lista de alunos
  %a.list-group-item{:href => 'professor/excel'} Adicionar aluno via excel
  %a.list-group-item{:href => 'alunos/new'} Adicionar aluno manualmente
  %a.list-group-item{:href => 'professor/gerador'} Gerar grupos

.flash
  = flash[:notice]

#content
  = yield
  = render 'layouts/footer'
