= stylesheet_link_tag 'application', media: 'all', |
  'data-turbolinks-track' => true                  |
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
= render 'layouts/shim'

%header.navbar.navbar-fixed-top.navbar-inverse
  #container
    = render 'layouts/header'

%stripes
  #container
    = render 'layouts/stripes'

.well
  %h1 Resultado
  = @text.html_safe

%a.btn.btn-default{:href => professor_path()} Voltar

#content
  = yield
  = render 'layouts/footer'

%img{:alt => "logo", :src => "/cervantes.png", :style => "float:right; width:30%; height:auto;"}