= stylesheet_link_tag 'application', media: 'all', |
  'data-turbolinks-track' => true                  |
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
= render 'layouts/shim'

%header.navbar.navbar-fixed-top.navbar-inverse
  #container
    = render 'layouts/header'

%stripes
  #container
    = render 'layouts/stripes'

%h1 Resultados

%div= raw @text

#content
  = yield
  = render 'layouts/footer'