= stylesheet_link_tag 'application', media: 'all', |
  'data-turbolinks-track' => true                  |
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
= render 'layouts/shim'

%header.navbar.navbar-fixed-top.navbar-inverse
  #container
    = render 'layouts/header'

%stripes
  #container
    = render 'layouts/stripes'

%h1 Inserir preferências

.well.well-sm
  %h4{:style => "margin-left: 2px; font-size: 16px"} Com atenção, pense em 3 colegas, por ordem de preferência, com quem você gostaria de dividir o quarto durante a Viagem à Espanha:

  = form_tag do
    = label :preferencia, :preferencia1, 'Escolha 1'
    = select :preferencia, :preferencia1, @possible_names
    %br
    = label :preferencia, :preferencia2, 'Escolha 2'
    = select :preferencia, :preferencia2, @possible_names
    %br
    = label :preferencia, :preferencia3, 'Escolha 3'
    = select :preferencia, :preferencia3, @possible_names
    %br
    = submit_tag 'Inserir', class: "btn btn-primary"

#content
  = yield
  = render 'layouts/footer'
