%h1 Ediçao de aluno

= form_tag do
  = label :aluno, :name, 'Nome'
  = text_field_tag 'aluno[nome]', @aluno.name

  = label :aluno, :classe, 'Classe'
  = select :aluno, :classe, @classes

  = label :aluno, :sexo, 'Sexo'
  = select :aluno, :sexo, @sexos

  = submit_tag 'Editar'
