%h1 Lista de alunos

= button_to 'Logout', login_path(), :method => :delete
= button_to "Go Back", '..', :onclick => 'history.back(); return false;'

%table
  %thead
    %tr
      %th Nome
      %th Sexo
      %th Classe
      %th Senha
  %tbody
    - @alunos.each do |aluno|
      %tr
        %td= aluno.name
        %td= aluno.sexo
        %td= aluno.classe
        %td= aluno.rand_pass
        %td 
          %a{:href => 'alunos/edit/' + aluno.id.to_s}= "Editar"
        %td= button_to 'Deletar', 'alunos/delete/' + aluno.id.to_s, :method => :delete
         
