= stylesheet_link_tag 'application', media: 'all', |
  'data-turbolinks-track' => true                  |
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
= render 'layouts/shim'

%header.navbar.navbar-fixed-top.navbar-inverse
  #container
    = render 'layouts/header'

%stripes
  #container
    = render 'layouts/stripes'

%h1 Inserir novo aluno

= form_tag do
  = text_field :aluno, 'nome', :placeholder => "Nome"

  = label :aluno, :classe, 'Classe'
  = select :aluno, :classe, @classes, class: "form-control"

  = label :aluno, :sexo, 'Sexo'
  = select :aluno, :sexo, @sexos, class: "form-control"

  = submit_tag 'Inserir', class: "btn btn-success"

#content
  = yield
  = render 'layouts/footer'