= stylesheet_link_tag 'application', media: 'all', |
  'data-turbolinks-track' => true                  |
= javascript_include_tag 'application', 'data-turbolinks-track' => true
= csrf_meta_tags
= render 'layouts/shim'

%header.navbar.navbar-fixed-top.navbar-inverse
  #container
    = render 'layouts/header'

%stripes
  #container
    = render 'layouts/stripes'

.center.jumbotron
  %h1 Seleção de grupos inteligente
  %h2 by Progrules

  %form.pure-form{:action => "login", :method=> "post"}
    %fieldset
      %input{:placeholder => "Usuário", :name => "name"}
      %input{:placeholder => "Senha", :name => "pass", :type => "password"}
      %button.btn.btn-danger{:type => "submit"} Login
      %a.btn.btn-warning{:href => 'login/new'} Novo cadastro

.flash
  = flash[:notice]

#content
  = yield
  = render 'layouts/footer'
